@font-face {
    font-family: 'icons';
    src: url(./icons/fa-brands-400.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'icons';
    src: url(./icons/fa-duotone-900.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'icons';
    src: url(./icons/fa-light-300.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'icons';
    src: url(./icons/fa-regular-400.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'icons';
    src: url(./icons/fa-solid-900.ttf);
    font-weight: 90
}











































































    /* f007 inson rasmli icon */
    /* f004 yurak shaklidagi icon */
    /* f015 home icon */
    /* f019 download icon */
    /* f075 habar icon */
    /* f03e image icon */
    /* f07a karzinka icon */
    /* f002 qidiruv icon */
    /* f001 music icon */